 body
{
    font-type:Arial !important;
}
#c_5{
    border:none !important;
}

div[id*='_menu_']
{

background-color:#003C6D !important;
    padding:8px;
    font-weight:normal;
    border:none !important;
}

tr[id*='_tr_item_']:hover
{
    background-color:#ccc !important;
    color:#000 !important;
}

tr[id*='_tr_item_']
{
    color: #fff !important;
    font-size:12pt !important;
    height:20px;
}

#c_3_pane0
{
    height: 22px !important;
}

#c_4_contains_c_5{
font-size:11pt !important;
font-weight: normal !important;
}

div[id*='_titlebar']
{
    background-color:#003C6D !important;
    height:35px !important;
}

div[id*='_titlebar']
{
padding-top:5px;    
    font-size:15px;
}

 div[id$='_content']
{
    z-index:1;
    margin-top:12px !important;

}

table[id*='c_']
{
border:none !important;
    
}


tbody[id*='_tbody']
{
   font-size:13px;
}

td[id*='_cell_']{
  border:none !important;
}
tr[id*='_tr_'] td[id*='_cell_'] 
{
     border:1px solid #000 !important;
    padding:8px 2px !important;
}

tr[id*='_tr_'] td[id*='_cell_'] td, tr[id*='_tr_'] td[id*='_cell_'] tr 
{
     border:none !important;
}

tr[id$='_tr_header'] td[id*='_cell_'] 
{
    background-color:#ccc !important;
    border:none !important;
    padding:2px 0px !important;
}

tr[id$='_tr_header']
{
      border:1px solid #000 !important;
}

tr[id*='_tr_header'] td[id*='_cell_'] div
{
    background-color:#ccc !important;
    border:none !important;
    font-size:10pt;
    color:#222;
        margin:1px;
}

 div[id^='c_5_menu_'] {
   max-height: 400px;
   overflow-y: scroll;
}

/*
div[id*='_titlebar']{
height: 40px !important;
background-color: #000 !important;
}
*/